<html>

<head>
    {{>header}}
</head>

<body>

    <div class="aboutContainer">

        <div class="pageTitle">
        <h1>About Us</h1>
        <h2>Glasgow Hospice Charity specialise in raising funds for hospice care.
        With four local shops across the Greater Glasgow region, our service finds pre-owned
        goods a new home with all proceeds going towards providing support to hospice care patients.</h2>
        </div>

        
        <div class="storesPanel">
            <h4>North Store</h4>
            <p>Our North Store is located at <a>123 Sunset Boulevard</a> in the northern region of Glasgow.</p>
            <p>Opening Hours: 9am-4pm<p>

            <h4>East Store</h4>
            <p>Our East Store is located at <a>2 Mulholland Drive</a> in the eastern region of Glasgow.</p>
            <p>Opening Hours: 9am-4pm<p>

            <h4>West Store</h4>
            <p>Our East Store is located at <a>30 Notting Hill</a> in the western region of Glasgow.</p>
            <p>Opening Hours: 8am-3pm<p>

            <h4>South Store</h4>
            <p>Our South Store is located at <a>742 Evergreen Terrace</a> in the southern district of Glasgow.</p>
            <p>Opening Hours: 8am-5pm<p>

        </div>
    
    
    
    </div>


</body>

</html>