<html>

<head>
    {{>header}}
</head>

<body class="container">

  {{#user}}

    <a id="addUser" href="/addUser" class="btn btn-primary">
      Add New Staff
    </a>
      
  {{/user}}
  </div>
  <h1>{{title}}</h1>
  <div>
  {{#users}}
    <div class="card">
      <div class="card-body">
            <h4 class="card-title">Username : {{user}}</h4>
            <p class="card-text">
                Role : {{role}}
            </p>
            <p class="card-text">
                store : {{store}}
            </p>
      </div>
      <a id="removeStaff" href="/removeStaff/{{user}}" class="btn btn-primary">
        Remove Staff
      </a>
    </div>
  {{/users}}
    </div>
  </div>


</body>


</html>