<html>

<head>
    {{>header}}
</head>

<body>




    {{#canEdit}}
        <a id="addItem" href="/addItem" class="btn btn-primary">
            Add New Item
        </a>
    {{/canEdit}}

    {{#entries}}
    <div>
        <div>
            <h4>{{name}}</h4>
            <p>{{description}}</p>
            <div>
            £{{price}}
            </div>
            <p>Store: {{store}}</p>
        </div>

        {{#canEdit}}
        <a id="update" href="/update/{{_id}}" class="btn btn-primary">
            Update Item
        </a>

        <a id="delete" href="/delete/{{_id}}" class="btn btn-primary">
            Remove Item
        </a>
        {{/canEdit}}
        

    </div>
    <hr>
    {{/entries}}
</body>

</html>