<html>

<head>
    {{>header}}
</head>

<body>



    <div class="pageTitle">
    <h1>{{title}}</h1>
    <h2>Browse through our entire catalogue of items, available in one our of four local charity shops.<h2>
    </div>
    {{#canEdit}}
        <a id="addItem" href="/addItem" class="btn btn-primary">
            Add New Item
        </a>
    {{/canEdit}}
    

    <div class="entryContainer">
    
        {{#entries}}
        <div class="item">
            <div>
                <h4>{{name}}</h4>
                <div>
                    <h5><b>£{{price}}</b><h5>
                    <h5>Charity Store: {{store}}</h5>
                </div>
                <p>{{description}}</p>
                
            </div>

            {{#canEdit}}
            <a id="update" href="/update/{{_id}}" class="btn btn-primary">
                Update Item
            </a>

            <a id="delete" href="/delete/{{_id}}" class="btn btn-primary">
                Remove Item
            </a>
            {{/canEdit}}
            

    </div>
    <hr>
    {{/entries}}

    </div>
</body>

</html>