<html>

<head>
    {{>header}}
</head>

<body>




    {{#canEdit}}
        <a id="addItem" href="/addItem" class="btn btn-primary">
            Add New Item
        </a>
    {{/canEdit}}

    <div class="entryContainer">
    
        {{#entries}}
        <div class="item">
            <div>
                <h4>{{name}}</h4>
                <div>
                    <h5>£{{price}}<h5>
                    <h5>Store: {{store}}</h5>
                </div>
                <p>{{description}}</p>
                
            </div>

            {{#canEdit}}
            <a id="update" href="/update/{{_id}}" class="btn btn-primary">
                Update Item
            </a>

            <a id="delete" href="/delete/{{_id}}" class="btn btn-primary">
                Remove Item
            </a>
            {{/canEdit}}
            

    </div>
    <hr>
    {{/entries}}

    </div>
</body>

</html>