<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/styles.css">
</head>

<title>Charity Shop Items</title>

<div class="banner">
    <h1>Charity Shop Showcase<h1>
</div>

<nav>
    <a href="/">Home</a>
    <a href="/items">All Items</a>
    <a href="/items/north">North Store</a>
    <a href="/items/east">East Store</a>
    <a href="/items/west">West Store</a>
    <a href="/items/south">South Store</a>
    <a href="/about">About Us</a>
</nav>


<div class="text-right" style="margin-bottom: 1em;">
{{^user}}
 <a id="login" href="/login" class="btn btn-primary">
 Log in
 </a>
{{/user}}
{{#user}}
 <a id="logout" href="/logout" class="btn btn-primary">
 Log out
 </a>
{{/user}}
</div>