<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<title>Mustache Example</title>

<div class="text-right" style="margin-bottom: 1em;">
{{^user}}
 <a id="login" href="/login" class="btn btn-primary">
 Log in
 </a>
{{/user}}
{{#user}}
 <a id="logout" href="/logout" class="btn btn-primary">
 Log out
 </a>
{{/user}}
</div>