body{
    background: linear-gradient(90deg, rgba(78,236,236,1) 0%, rgba(173,242,255,1) 50%, rgba(0,205,246,1) 100%);
}

.banner{
    background-color: #006666;
    height: 10%;
    display: flex;
    justify-content: center;
    border: 5px inset rgba(78,236,236,1);
}

.banner h1{
    align-self: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}


nav{
    background-color: #006666;
    display: flex;
    justify-content: space-between;
    padding-left: 12%;
    padding-right: 12%;
    align-items: center;

    height: 6%;
    border-bottom: 5px solid rgba(78,236,236,1);
    
}

nav a{
    color: white;
    font-size: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px black;
}
nav a:hover{
    color: lightcyan;
}



#login{
    background-color: #18387c;
    margin-right: 5%;
}

.loginButton{
    margin-top: 5px;
    height: 3%;
}

.loginButton a{
    text-shadow: 1px 1px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}




.pageTitle{
    margin-top: 1%;
}

.pageTitle h1{
    height: 10%;
    display: flex;
    align-items: center;
    margin-top: 100px;
    text-shadow: 2px 2px 2px black;
}

.pageTitle h2{
    font-size: 22px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 1px black;
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
}
.pageTitle h1, h2{
    background: #006666;
    color: white;
    width: 90%;
    margin: auto;
    padding-left: 3%;
    
}



.entryContainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;

    background-color: #006666;
    
    margin-left: 5%;
    margin-right: 5%;
    height:auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.item{
    background-color: lightyellow;
    box-shadow: 15px 15px 10px rgb(0 0 0 / 40%);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 100%;
    min-height: 170px;
    border-radius: 10px;
}

.item h5, h4, p{
    margin-left: 5%;
}

.item h4{
    margin-top: 3%;
}







.loginContainer{
    margin-left: 5%;
    margin-right: 5%;
    background-color:#006666;
}

.loginContainer label{
    color: white;
    font-size: 25px;
    text-shadow: 1px 2px 5px black;
    margin-left: 2%;
    margin-top: 1%;
}

#username, #password{
    margin-left: 2%;
}

.confirmLogin {
    background-color: #18387c;
    text-shadow: 2px 2px 2px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 2.6%;
    width: 10%;
}









.addItemContainer{
    display: flex;
    justify-content: center;
    margin:5px;
}

#addItem{
    width: 50%;
    background-color: #1d860f;
    text-shadow: 2px 2px 1px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.editItemContainer{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px black;
}

#update{
    background-color: #18387c;
}

#delete{
    background-color: rgb(165, 12, 12);
}










.storesPanel{
    background-color:#006666;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 20px;
    
}
.storesPanel h4{
    margin-left: 5%;
    padding-top: 30px;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    color: white;
}
.storesPanel p{
    text-shadow: 1px 1px 1px black;
    color: white;
    font-size: 20px;
}


.addEntryForm {
    background-color: #006666;
    padding-bottom: 30px;
}
.addEntryForm h2{
    background-color: #006666;
    width: 100%;
    font-size: 30px;
    text-shadow: 2px 2px 2px black;
    padding-top: 10px;
    padding-bottom: 20px;
}
.addEntryForm label{
    margin-left: 5%;
    color: white;
    font-size: 22px;
    text-shadow: 1px 1px 1px black;
}

.addEntryForm input{
    margin-left: 5%;
    width: 30%;
}


.postEntry input, #logout{
    background-color: 18387c;
    text-shadow: 1px 1px 1px black;
    font-size: 18px;
    width: 10%;
}